body {
    /* background-image: url('../images/background(32).png'); */

    background-color: lightgreen;
}

html * {
    color: #3b3939;
}

.footer-statistics {
    clear: both;
    position: relative;
    font-size: 70%;
    border: 2px solid #006600;
    background-color: #66cc66;
    width: 100%;
    border-radius: 20px;
}

#autocompleteBox {
    z-index: 1050; /* Ensure it appears above other elements */
    width: 20;
    margin-top: 15%;
    position: absolute;
}