body {
    /* background-image: url('../images/background(32).png'); */

    background-color: lightgreen;
}

body h1 {
    margin-left: 0.2em;
}

html * {
    color: #3b3939;
}

.footer-statistics {
    clear: both;
    position: relative;
    font-size: 70%;
    border: 2px solid #006600;
    background-color: #66cc66;
    width: 100%;
    border-radius: 20px;
}

#pages-buttons {
    padding-top: 2%;
}

#autocompleteBox {
    z-index: 1050; /* Ensure it appears above other elements */
    width: 20;
    margin-top: 15%;
    position: absolute;
}

.extension-tag {
    position: absolute;
    top: 80%;
    left: 65%;
    background-color: #3b3939; /* Semi-transparent background */
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 2% 5%; /* Space on the sides */
    box-shadow: 2px 2px 2px grey;
}


.user-form {
    display: block;
    margin-top: 0em;
    margin-left: 1em;
    unicode-bidi: isolate;
    word-wrap: break-word;
}

.user-form input {
    color: #1d1d1d; 
    background-color: #efefef; 
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;

    display: block;
}

.user-form label {
    vertical-align: middle;
    margin-bottom: 4px;
    display: inline-block;
}

.user-form button {
    color: #1d1d1d; 
    background-color: #d0cfcf;
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    padding-right: 30px;
    padding-left: 30px;
}

.user-form input:focus {
    transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
}