/* 
.navbar {
    background-color: #EEEEFF;
    display:flex;
}

.navbar .nav-pills {
    display:flex;
    list-style:none;
}

.nav-pills .nav-item {
    padding: 5px;
}

.nav-item a {
    border: 2px solid #3498db;
    border-radius: 4px;
    padding: 4px;

    text-decoration: none;
    color: blue;
}

.nav-item a:hover {
    background-color: aqua;
    transition: background-color 0.5s ease;
}

.navbar .nav {
    list-style: none;
} */

.nav-pills .nav-item  {
    border-color: coral !important;
}

.nav-pills .nav-item {
    background-color: burlywood;
}

.nav-pills .nav-item:hover {
    background-color: lightcoral !important;
    border-color: darkolivegreen !important;
}
/* .search {
    display:block;
    justify-content: center;
    align-items: center;
    list-style:none;
}

.search .search-box {

}

.search .search-button {
    border: 2px solid darkgreen;
    border-radius: 4px;
    padding: 4px;

    background-color: lightgreen;
} */