.blur-explicit {
	filter: blur(10px);
	transition: all .3s ease-in;
}
/* .blur-explicit:hover {
	filter: blur(0px);
} */

.rating-0 {
	color: green;
}

.rating-1 {
	color: orange;
}

.rating-2 {
	color: red;
}