.contain {
    display: flex;
    width: 98%; /* Full viewport width */
    padding-left: 2%;
}

.left-div {
    width: max(15%, fit-content);
    background-color: #91EECF;
    margin-right: 1%;
    
}


.right-div {
    width: 100%; /* This will also take up remaining space */
}

.left-div h4 {
    padding-left: 2px;
}
.left-div p {
    font-size: 15px;
    text-wrap: wrap;
}

.left-div ul {
    padding-left: 5px;  /* Remove left padding */
    margin-left: 0;   /* Remove left margin */
    list-style-type: none; /* Optional: remove bullet points */
}

.left-div li {
    margin-left: 0;   /* Ensure list items don't have extra margin */
}


#addTag {
    color: green;
    cursor: pointer;

    font-weight: bold;

}

#removeTag {
    color: red;
    cursor: pointer;

    font-weight: bold;
    
}